<link rel="stylesheet" href="/content/dam/telecomcms/responsive/css/internet/fibre-order-tracker.css" type="text/css"/>
<style>
		    .order_content,
		    .invalid_order_number,
		    .not_found_div,
		    .firstname,
		    .track_btn,
		    .yellow_banner_text,
		    .track_number,
		    .overall_status,
		    .accordion-entry,
		    .fibre-journey {
		        display: none;
		    }
		    .still-in-dark 
		    {
		        opacity: 0;
		    }
		    .button-wrapper {
		    	height: 45px;
		    	overflow: hidden;
		    }
		    .invalid_order_number,
		    .not_found_div {
		        color: #ff0000;
		        font-weight: bold;
		    }

		    .is-hidden {
		    	display: none;
		    }
		    h4{
		    	font-size: 16px;
		    }
		    
		    /*.default_text {
		    	padding-top: 40px;
		    }*/
</style>
<div class="all_content">


					<div class="row">
						<div class="col-md-12">
							<div class="content-block-header card">
								<h1 class="block order"><span class="order_purpose">Your fibre connection is underway</span></h1>
								<p>Follow your installation process</p>
							</div>
						</div>	
					</div>


					<div class="row">
						<div class="col-xs-12">
							<div class="card primary ico-content-card">
								<div class="inner-card">
									<div class="row ico-card-row row-sm-height row-md-height">
										<div class="col-md-12 api_order_tracker">



											
											<h2 class="underlined initial_welcome">Hey <span class="firstname">,</span> get across your order below</h2>

											<h4><span class="overall_status"><span class="status_inner">Overall status: </span></span></h4>
											<p class="displayOrderID"></p> 

							                <div class="js-enter_order_number enter_order_number is-hidden">
							                	<div class="row">
							                        <div class="col-lg-3 col-md-3 col-xs-12">
							                            <p>Order Number:</p>
							                        </div>
							                        <div class="col-lg-5 col-md-5 col-xs-12">
							                        	<input type="textbox" id="js-order-id" maxlength="25" placeholder="Enter your order number here"/> 
							                        	<br>
							                        	<a href="#" target="_blank">What is this?</a>
							                        </div>
							                    </div>
							                    
							                    
							                    <span class="invalid_order_number">Please Enter a valid order number</span>
							                    <br/><br/>

							                        	<div class="blue-bg stepOneNextButton" style="padding:20px 10px;">
							                                <div class="col-xs-12 text-center">
							                                    <div class="row">
							                                        <!-- <div class="col-xs-6">
							                                            <button type="button" class="normal secondary blue">Back</button>
							                                        </div> -->
							                                        <div class="col-xs-12">
							                                        <button id="orderSubmit" type="button" class="js-order-id-submit normal blue">Submit</button>
							                                            <!-- <button id="orderSubmit" type="button" class="normal blue">Submit</button> -->
							                                        </div>
							                                    </div>
							                                </div>
							                                <div class="clearfix"></div>
							                            </div>                   
							                </div>

							                <div class="order_content"></div>
							                <div class="not_found_div"></div>
							                <div id="url"></div>
							                <div id="results"></div>
							                <div class="order_not_found"></div>
							                <div class="status_codes_error"></div> <br/>
											
											<div class="card">
												<div class="clearfix ico-block fibre-journey">

														
													<div class="col-md-2 ico-card grey order" >
														<hr class="progress-line"> 
														<span class="row">
															<span class="col-xs-4 col-sm-3 col-md-12">
																<div class="circled s80">
																	<span></span>
																</div>
															</span>
															<span class="col-xs-8 col-sm-8 col-md-12">
																<h5 class="date"></h5> 
																<!-- <h5 class="date">20 Janurary, 2015</h5> -->
																<h4>Order</h4>
																<div class="button-wrapper">
																	<div class="button slim yellow yellow_banner_text status"></div>
																</div>
																<p class="default_text">We have received your order. It's in good hands, If we have any more questions we will give you a call.</p>
															</span>
														</span>
													</div>

													<div class="col-md-2 ico-card grey scoping" >
														<hr class="progress-line"> 
														<span class="row">
															<span class="col-xs-4 col-sm-3 col-md-12">
																<div class="circled s80">
																	<span></span>
																</div>
															</span>
															<span class="col-xs-8 col-sm-8 col-md-12">
																<h5 class="date"></h5> 
																<h4>Scoping</h4>
																<div class="button-wrapper">
																	<div class="button slim yellow yellow_banner_text status"></div>
																</div>	
																<p class="default_text">We have been to your place to make sure we are good to go with laying fibre.</p>
															</span>
														</span>
													</div>

													<div class="col-md-2 ico-card grey consent" >
														<hr class="progress-line"> 
														<span class="row">
															<span class="col-xs-4 col-sm-3 col-md-12">
																<div class="circled s80">
																	<span></span>
																</div>
															</span>
															<span class="col-xs-8 col-sm-8 col-md-12">
																<h5 class="date"></h5> 
																
																<h4>Consent</h4>
																<div class="button-wrapper">
																	<div class="button slim yellow yellow_banner_text status"></div>
																</div>
																<p class="default_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas faucibus quam et mi tristique sodales.</p>
															</span>
														</span>
													</div>

													<div class="col-md-2 ico-card grey installation" >
														<hr class="progress-line"> 
														<span class="row">
															<span class="col-xs-4 col-sm-3 col-md-12">
																<div class="circled s80">
																	<span></span>
																</div>
															</span>
															<span class="col-xs-8 col-sm-8 col-md-12">
																<h5 class="date"></h5> <h4>Installation</h4>
																<div class="button-wrapper">
																	<div class="button slim yellow yellow_banner_text status"></div>
																</div>
																<p class="default_text">We are making a few changes to the ground and inside your property.</p>
															</span>
														</span>
													</div>

													<div class="col-md-2 ico-card grey complete live" >
														<hr class="progress-line"> 
														<span class="row">
															<span class="col-xs-4 col-sm-3 col-md-12">
																<div class="circled s80">
																	<span></span>
																</div>
															</span>
															<span class="col-xs-8 col-sm-8 col-md-12">
																<h5 class="date"></h5> 
																<h4>It's Live</h4>
																<div class="button-wrapper">
																	<div class="button slim yellow yellow_banner_text status"></div>
																</div>
																<p class="default_text"></p>
															</span>
														</span>
													</div>
										
													

										

												</div>
											</div>

											<h4 class="modem_tracking track_number"></h4>
										</div>
									</div>

									
								</div>
								<div class="blue-bg track_btn" style="padding:40px 10px;">
									<div class="col-xs-12 text-center">
										<div class="row">

											<div class="col-xs-12">
												<a href="#" target="_blank" class="button normal blue track_link">Track</a>
												<!-- <button type="button" class="normal blue">Track</button> -->
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>


				
			</div>

